* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #363636;
}

.logo {
  margin-top: 35px;
  margin-bottom: 35px;
  position: relative;
  font-family: "Pacifico", cursive;
  color: #fff;
  font-size: 48px;
  text-align: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height:75vh;
}
