.container {
  margin: 40px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;
}

// .containerForNotes

.arrow {
  width: 32px;
  height: 32px;
  fill: white;
  cursor: pointer;
}

.logo {
  font-size: 30px;
  font-family: "Pacifico", cursive;
  color: white;
  cursor: pointer;
}

.leftRow {
  display: flex;
  justify-content: center;

  input {
    margin-left: 20px;
    background: transparent;
    border: transparent;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    &::placeholder {
      font-size: 15px;
    }
  }
}

.notesList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  height: 100%;

  &::-webkit-scrollbar {
    opacity: 0;
  }
}

.addKarteczka {
  width: 225px;
  min-width: 225px;
  border: 5px dashed white;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.vertical {
  position: absolute;
  width: 33%;
  height: 5%;
  background: white;
}

.horizontal {
  position: absolute;
  height: 33%;
  width: 5%;
  background: white;
}

.options {
  margin: 0 20px;
  font-family: "Open Sans", sans-serif !important;

  color: white;
  cursor: pointer;
}


.karteczkiContainer {
  height: 80vh;
}
